version: "3"

services:
  php-apache:
    container_name: "${CONTAINER_NAME_PREFIX}-apache-php"
    build: ./docker/php-apache
    volumes:
      - ${PATH_TO_PROJECT}:/var/www/html
    ports:
      - ${HTTP_PORT}:80

  db:
    container_name: "${CONTAINER_NAME_PREFIX}-mariadb"
    image: mariadb:latest
    environment:
      - MARIADB_ROOT_USER=${ROOT_USER}
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASSWORD}
      - MARIADB_DATABASE=${DB_NAME}
    volumes:
      - ${PATH_TO_DB_DATA}:/var/lib/mysql:rw
    ports:
      - ${DB_PORT}:3306

  phpmyadmin:
    container_name: "${CONTAINER_NAME_PREFIX}-phpmyadmin"
    image: phpmyadmin
    restart: always
    ports:
      - ${ADMINER_PORT}:80
    environment:
      - PMA_ARBITRARY=1